// Here you can add other styles


.contact-card {
	max-width: 480px;
	margin: auto;
}

footer {
	border-top: 2px solid #ee365c;
	padding-top: 25px;
}

.header-logo {
	margin: auto;
	display: grid;
	border-bottom: 2px solid #ee365c;
}